<h1>Welcome to Chirpus Pizza</h1>
<h2>Menu</h2>
<h2>Pizzas</h2>
<div *ngFor="let i of getByCategory('Pizza')">
  <h3>{{ i.name }}</h3>
  <p>Price: ${{ i.price }}</p>
  <p>Category: {{ i.category }}</p>
</div>
<h2>Wings</h2>
<div *ngFor="let i of getByCategory('Wings')">
  <h3>{{ i.name }}</h3>
  <p>Price: ${{ i.price }}</p>
  <p>Category: {{ i.category }}</p>
</div>
<h2>Sides</h2>
<div *ngFor="let i of getByCategory('Sides')">
  <h3>{{ i.name }}</h3>
  <p>Price: ${{ i.price }}</p>
  <p>Category: {{ i.category }}</p>
</div>
